In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://s3.amazonaws.com/data.patentsview.org/download/wipo.tsv.zip'
data = pd.read_csv(url,delimiter="\t")

In [3]:
data.head()

   patent_id  field_id  sequence
0   10000000        10         0
1   10000001        29         0
2   10000001        12         1
3   10000002        21         0
4   10000002        29         1

In [4]:
data.shape

(10551403, 3)

In [5]:
# remove duplicate entries
data = data.drop_duplicates()
data.shape

(10551403, 3)

In [6]:
# Load tsv file that explains the id and sector relationship
url = 'https://s3.amazonaws.com/data.patentsview.org/download/wipo_field.tsv.zip'
df_field_key = pd.read_csv(url,delimiter="\t")
df_field_key.head()

   id            sector_title                              field_title
0   1  Electrical engineering  Electrical machinery, apparatus, energy
1  10             Instruments                              Measurement
2  11             Instruments         Analysis of biological materials
3  12             Instruments                                  Control
4  13             Instruments                       Medical technology

In [7]:
df_field_key.shape

(70, 3)

In [8]:
df_field_key

,id,sector_title,field_title
0,1,Electrical engineering,"Electrical machinery, apparatus, energy"
1,10,Instruments,Measurement
2,11,Instruments,Analysis of biological materials
3,12,Instruments,Control
4,13,Instruments,Medical technology
...,...,...,...
65,D30,Design,Articles for the care and handling of animals
66,D31,Design,Machines and appliances for preparing food or ...
67,D32,Design,"Graphic symbols and logos, surface patterns, o..."
68,D34,Design,Material or Article Handling Equipment
69,D99,Design,Miscellaneous

In [9]:
data.dtypes,df_field_key.dtypes

(patent_id    int64
 field_id     int64
 sequence     int64
 dtype: object,
 id              object
 sector_title    object
 field_title     object
 dtype: object)

In [10]:
df_field_key["id"].unique()

array(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19',
       '2', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29',
       '3', '30', '31', '32', '33', '34', '35', '36', '4', '5', '6', '7',
       '8', '9', 'D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08',
       'D09', 'D10', 'D11', 'D12', 'D13', 'D14', 'D15', 'D16', 'D17',
       'D18', 'D19', 'D20', 'D21', 'D22', 'D23', 'D24', 'D25', 'D26',
       'D27', 'D28', 'D29', 'D30', 'D31', 'D32', 'D34', 'D99'],
      dtype=object)

In [11]:
data["field_id"].unique()

array([10, 29, 12, 21, 32, 34,  9, 20, 22, 25, 27, 31,  3,  2,  6, 19, 26,
       17, 13, 28,  1, 35, 33,  8, 23, 30,  7,  4, 11, 24, 14, 16, 15, 18,
        5])

In [12]:
data["field_id"] = data["field_id"].astype(str)

In [13]:
data.dtypes,df_field_key.dtypes

(patent_id     int64
 field_id     object
 sequence      int64
 dtype: object,
 id              object
 sector_title    object
 field_title     object
 dtype: object)

In [14]:
# Merge dataframes to match 'field_id' with the sector title
df = data.merge(df_field_key, left_on='field_id', right_on='id')
df.head(10)

   patent_id field_id  sequence  id sector_title  field_title
0   10000000       10         0  10  Instruments  Measurement
1   10000082       10         1  10  Instruments  Measurement
2   10000101       10         1  10  Instruments  Measurement
3   10000117       10         2  10  Instruments  Measurement
4   10000121       10         2  10  Instruments  Measurement
5   10000157       10         2  10  Instruments  Measurement
6   10000172       10         0  10  Instruments  Measurement
7   10000187       10         0  10  Instruments  Measurement
8   10000213       10         2  10  Instruments  Measurement
9   10000215       10         1  10  Instruments  Measurement

In [15]:
df.shape

(10551403, 6)

In [16]:
df = df.drop(['field_id', 'sequence', 'id'],axis=1)
df.shape

(10551403, 3)

In [17]:
df

          patent_id            sector_title                    field_title
0          10000000             Instruments                    Measurement
1          10000082             Instruments                    Measurement
2          10000101             Instruments                    Measurement
3          10000117             Instruments                    Measurement
4          10000121             Instruments                    Measurement
...             ...                     ...                            ...
10551398    9998823  Electrical engineering  Basic communication processes
10551399    9998825  Electrical engineering  Basic communication processes
10551400    9998826  Electrical engineering  Basic communication processes
10551401    9998841  Electrical engineering  Basic communication processes
10551402    9999780  Electrical engineering  Basic communication processes

[10551403 rows x 3 columns]

In [18]:
# Store as pickle for using in another notebook
df.to_pickle('data/pats_w_sectors.pkl')

In [19]:
# Load 2021 data
url = 'https://s3.amazonaws.com/data.patentsview.org/claims/claims_2021.tsv.zip'
df2 = pd.read_csv(url,delimiter="\t")
df2.head()

/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,uuid,patent_id,text,dependent,sequence,num,exemplary
0,9047afa4-974e-11eb-9615-121df0c29c1e,10888042,1. A ground engagement tool for mounting to a ...,NaN,0,1,1
1,9047c4c0-974e-11eb-9615-121df0c29c1e,10888043,1. A self-propelled baling vehicle for forming...,NaN,0,1,1
2,9047d145-974e-11eb-9615-121df0c29c1e,10888044,17. A method of transporting an agricultural i...,NaN,16,17,1
3,9047db92-974e-11eb-9615-121df0c29c1e,10888045,1. A weeding robot comprising: a chassis; a dr...,NaN,0,1,1
4,90493549-974e-11eb-9615-121df0c29c1e,10888046,1. A method for operating an autonomous mobile...,NaN,0,1,1

In [20]:
df2[df2["num"]==1].shape

(278097, 7)

In [21]:
def clean_tsv(df, cols2drop):
    df = df.drop(cols2drop, axis=1)

    # get rid of reissue, design, and plant patents
    df = df[df.patent_id.str.isnumeric()==True]

    # make sure dtype for patid is integer
    df.patent_id = df.patent_id.astype('int64')

    # keep only rows with 1st claim, then drop column
    df = df[df.claim_number==1]
    df = df.drop('claim_number', axis=1)

    return df

In [22]:
# rename num column since num name causes issues
df2 = df2.rename(columns={'num':'claim_number'})

# # use my cleaning function to clean up df
cols2drop=['uuid', 'sequence', 'exemplary', 'dependent']
df_ = clean_tsv(df2, cols2drop)

In [23]:
# # start master dataframe to collect data for all years
df_master = df_
del df2
del df_
df_master.head()

   patent_id                                               text
0   10888042  1. A ground engagement tool for mounting to a ...
1   10888043  1. A self-propelled baling vehicle for forming...
3   10888045  1. A weeding robot comprising: a chassis; a dr...
4   10888046  1. A method for operating an autonomous mobile...
5   10888047  1. A parking brake apparatus for a vehicle, co...

In [24]:
df_master.shape

(236506, 2)

In [25]:
# Iterate to load 2011 - 2019 to round out 10 years of data
years = range(2011,2021,1)
cols2drop = ['uuid', 'sequence', 'exemplary', 'dependent']
for year in years:
    url = f'https://s3.amazonaws.com/data.patentsview.org/claims/claims_{year}.tsv.zip'
    df = clean_tsv(pd.read_csv(url,delimiter="\t"), cols2drop) # download and clean
    df_master = df_master.append(df, ignore_index=True) # append to master df

/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2206946 entries, 0 to 2206945
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   patent_id  int64
 1   text       object
dtypes: int64(1), object(1)
memory usage: 33.7+ MB

In [27]:
# Store as pickle for using in another notebook
df_master.to_pickle('./data/master_data.pkl')

In [28]:
# Get 2010 data to use as holdout data
cols2drop = ['uuid', 'sequence', 'exemplary', 'dependent']
url = f'https://s3.amazonaws.com/data.patentsview.org/claims/claims_2010.tsv.zip'
df2010 = clean_tsv(pd.read_csv(url,delimiter="\t"), cols2drop)

/Users/shaurya/miniconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
def merge_and_clean(df1, df2):
    '''
    Given two dataframes for my data, rename columns and merge data
    
    Parameters: 
    df1: 
    df2: 
    
    Returns:
    df: dataframe with the data downloaded and unzipped
    
    '''
    df1 = df1.drop(['field_title'], axis=1)
    df1 = df1.drop_duplicates()
    groups = df1.groupby(by='patent_id').count()
    singles = groups[groups.sector_title == 1]
    singles = singles.reset_index()
    ok_pats = df1.merge(singles, on='patent_id')
    ok_pats = ok_pats.drop(['sector_title_y'], axis=1)
    ok_pats = ok_pats.rename(columns={'sector_title_x':'sector'})
    ok_pats.patent_id = ok_pats.patent_id.astype('int64')
    df_merged = ok_pats.merge(df2, how='inner', on='patent_id')
    return df_merged

In [32]:
df_pats_w_sectors = pd.read_pickle('./data/pats_w_sectors.pkl') # data with the classifications
# This function takes the master dataframe, merges it with the classification 
# dataframe, and returns the cleaned copy
df_master = merge_and_clean(df_pats_w_sectors, df2010)
df_master

,patent_id,sector,text
0,7640670,Instruments,1. An inspecting tool for checking whether ins...
1,7640672,Instruments,1. A reference tool comprising: a light source...
2,7640673,Instruments,1. A method for calibrating a sensor pod of a ...
3,7640674,Instruments,1. A method for calibrating a portable coordin...
4,7640677,Instruments,1. A tape measure comprising: a housing contai...
...,...,...,...
145568,7861131,Electrical engineering,1. A method for recovering at least a portion ...
145569,7861134,Electrical engineering,"1. A method comprising: determining, at a stat..."
145570,7861135,Electrical engineering,1. A low-complexity and low-power-consumption ...
145571,7861146,Electrical engineering,1. A Viterbi decoding apparatus for decoding a...
145572,7861147,Electrical engineering,"1. An add-compare-select (ACS) unit, generatin..."

In [33]:
df_master = df_master[df_master.sector!='Other fields']
df_master

,patent_id,sector,text
0,7640670,Instruments,1. An inspecting tool for checking whether ins...
1,7640672,Instruments,1. A reference tool comprising: a light source...
2,7640673,Instruments,1. A method for calibrating a sensor pod of a ...
3,7640674,Instruments,1. A method for calibrating a portable coordin...
4,7640677,Instruments,1. A tape measure comprising: a housing contai...
...,...,...,...
145568,7861131,Electrical engineering,1. A method for recovering at least a portion ...
145569,7861134,Electrical engineering,"1. A method comprising: determining, at a stat..."
145570,7861135,Electrical engineering,1. A low-complexity and low-power-consumption ...
145571,7861146,Electrical engineering,1. A Viterbi decoding apparatus for decoding a...
145572,7861147,Electrical engineering,"1. An add-compare-select (ACS) unit, generatin..."

In [34]:
df_master.to_pickle('./data/holdout_2010_data.pkl')